<section>
	<h2>Crear colección</h2>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/o5nJ2ATKNKk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</section>
<section>
	<h2>Editar una colección existente</h2>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/bJZyRUNvjvI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</section>
<section>
	<h2>Crear cuestionario de respuesta multiple con puntos</h2>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/OgFsZVxTWDA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</section>
<section>
	<h2>Crear cuestionario de respuesta abierta con insignias</h2>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/mpngcbhq264" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</section>
<section>
	<h2>Crear y asignar puntos</h2>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/pUD9CQ9fDYQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</section>
<section>
	<h2>Enviar 3 cromos aleatorios a un estudiante</h2>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/NpNNypMq5es" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</section>