<mat-card class="home-card">
  <mat-grid-list cols="2">
   <mat-grid-tile class="left" >
      <h2>
	    DESCUBRE CLASSPIP
	  </h2>
	  <h3>
		Experimenta con la gamificación en un entorno educativo.
	  </h3>
   </mat-grid-tile>
   <mat-grid-tile class="right">
     <img mat-card-image class="docs-classpip-logo" src="../assets/img/classpip-icon.svg" alt="angular">
   </mat-grid-tile>
  </mat-grid-list>
</mat-card>

<div class="parallax home-parallax">
	<h2 class="parallas-text">Deja que tus alumnos aprendan con ordenadores y moviles</h2>
</div>

<div class="home-card">
	<img class="home-image" src="../assets/img/gamification.jpg">
	<img class="home-image" src="../assets/img/gamification-working.jpg">
</div>

