<footer class="docs-footer">
  <div class="docs-footer-list">
    <div class="docs-footer-links">
      <ul>
        <li>
        	<a href="#">aviso legal</a>
          <!--<a routerLink="/aviso-legal">{{ 'APP.LEGAL' | translate }}</a>-->
        </li>
        <li>
          <span>|</span>
        </li>
        <li>
        	<a href="#">privacidad</a>
          <!--<a routerLink="/privacidad">{{ 'APP.PRIVACY' | translate }}</a>-->
        </li>
      </ul>
    </div>
    <div class="docs-footer-copyright">
    	<p>Classpip &copy;</p>
      <!--<p>{{ 'APP.MARK' | translate }}</p>-->
    </div>
  </div>
</footer>