<section>
	<h2>Catàleg d’errors</h2>
	<p>
		En aquest catàleg consta la descripció dels errors trobats durant la instal·lació i la seva solució segons el sistema operatiu on s’ha fet la instal·lació.
	</p>
	<p>
		Es tracta d’un manual dinàmic en que si els o les futures desenvolupadores es troben algun error durant la instal·lació de l’entorn que no està descrit o es troba una solució més eficient, es pot ampliar o millorar la informació que hi hagi actualment.
	</p>
	<p>
		Texto provisional hasta que se rellene con la informacion adecuada
	</p>
	<p>
		En total s’han trobat vuit solucions a errors recurrents en les instal·lacions dutes a terme:
	</p>
	<ul>
		<li>Un en el sistema operatiu de Windows. En aquest cas, s’ha trobat que diversos errors s’han pogut solucionar simplement introduint una instrucció per la consola d’instruccions (cmd) al començament de la instal·lació. Aquesta instrucció, bàsicament el que fa es instal·lar els compiladors necessaris no especificats en la guia d’instal·lació per dur a terme la instal·lació sense problemes, com per exemple, el Python.</li>
		<li>Quatre solucions a errors en el sistema operatiu de Linux. Per a aquest sistema operatiu si que es van tenir diversos errors diferenciats, com la instal·lació de la versió pertinent del node (la 8.6) o els errors de permís per no estar executant el terminal en mode Administrador.</li>
		<li>Tres errors generals trobats en la instal·lació en els dos sistemes operatius, com per exemple, la falta d’un paquet del Visual o un error que pot semblar molt simple però que a vegades ens ha fet perdre el temps: l’error intern del servidor que simplement t’indica que el programa no està apuntant a l’entorn de desenvolupament.</li>
	</ul>
</section>
